<div *ngFor="let event of events">
  <h3>
    <img [src]="getLogo(event.home.name)" alt="{{ event.home.name }}" class="team-logo">
    {{ event.home.name }} vs 
    <img [src]="getLogo(event.away.name)" alt="{{ event.away.name }}" class="team-logo">
    {{ event.away.name }}
  </h3>
  <span>Status: {{ event.status }}</span>
  <span>Cutoff Time: {{ event.cutoffTime }}</span>
  <h4>Winner Odds</h4>
  <div *ngIf="event.markets['league_of_legends.winner']">
    <div *ngFor="let submarketKey of submarketKeys(event.markets['league_of_legends.winner'].submarkets)">
      <div *ngIf="event.markets['league_of_legends.winner'].submarkets[submarketKey] && event.markets['league_of_legends.winner'].submarkets[submarketKey].selections">
        <div *ngFor="let selection of event.markets['league_of_legends.winner'].submarkets[submarketKey].selections">
          <span>{{ selection.outcome === 'home' ? event.home.name : event.away.name }} - Price: {{ selection.price }} - Probability: {{ selection.probability }}</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!event.markets['league_of_legends.winner']">
    <span>No winner odds available</span>
  </div>
</div>



